/* HaxBall Mobile custom stylesheet */

* {
    user-select: none;
}

body {
    background: #1a2125
}

[data-hook=leave-btn] {
    background: #c13535 !important;
}

[data-hook="tvideo-teamcol"],
[data-hook="tvideo-showindicators"],
[data-hook="tvideo-showavatars"],
div:has(>[data-hook="chatopacity-range"]),
div:has(>[data-hook="chatfocusheight-range"]),
div:has(>[data-hook="chatbgmode"]),
.roomlist-view>.dialog>.splitter>.buttons>.file-btn,
[data-hook="rec-btn"],
.sound-button-container,
.inputrow,
div.chatbox-view>div>div.input {
    display: none !important;
}

div.chatbox-view>div>div.input {
    pointer-events: all;

}

div.chatbox-view>div>div.input>input {
    overflow: hidden;
}

.game-view>[data-hook=popups] {
    background-color: #1a212585 !important;
}

h1 {
    border-bottom-color: #EEA243 !important;
}

.game-view>.top-section {
    margin-top: 0;
}

.room-view {
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
}

.room-view>.container {
    margin-top: auto !important;
    margin-bottom: 0;
}

.room-view>.container>.header-btns {
    bottom: 0;
    top: auto;
    display: flex;
    flex-flow: row-reverse;
    left: 10px;
    right: auto;
}

[data-hook="leave-btn"] {
    background-color: #dd3333;
    margin-right: 6px;
}

[data-hook="stadium-pick"] {
    position: fixed !important;
    background: transparent !important;
    color: transparent !important;
    width: 300px;
    height: 20px;
}

[data-hook="stadium-name"] {
    text-decoration: underline;
}

.room-view>.container>.controls {
    display: flex;
    align-self: center;
    position: absolute;
    bottom: 0;
    right: 10px;
    top: auto;
    margin-bottom: 15px !important;
    z-index: 1;
    flex-flow: row-reverse;
}

.settings-view {
    width: 100%;
    height: 100%;
    max-height: unset;
    border-radius: 0;
}

.settings-view .tabcontents {
    width: 100%;
    text-align: -webkit-center;
}

.settings-view .section.selected {
    display: flex;
    width: max-content;
}

.choose-nickname-view {
    flex-direction: row-reverse;
}

.fade-out {
    opacity: 0;
    transition: opacity 10s ease-out
}

.game-view>.bottom-section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.room-view {
    margin-top: 0;
}

.room-view>.container {
    max-width: none;
    max-height: none;
    border-radius: 0;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
}

.roomlist-view>.dialog,
.view-wrapper>.dialog {
    max-width: calc(100vw - 2vw);
    max-height: calc(100vh - 2vw);
}

.showing-room-view>.gameplay-section {
    display: none;
}

[data-hook=ok] {
    text-transform: uppercase;
}

.filters::after {
    content: "\A\A Vixel Dev 2024 - InjecThor";
    white-space: pre;
    font-style: italic;
}

button[data-hook=shirt-btn]:after {
    content: '◑';
    font-size: 1.25em;
}

button[data-hook=shirt-btn] {
    margin-right: 6px;
    margin-left: 6px;
}

div.chatbox-view>div>div.log.subtle-thin-scrollbar>div>p {
    display: none;
}

div.chatbox-view>div>div.log.subtle-thin-scrollbar>div>p:nth-last-child(-n+5) {
    opacity: 1;
    display: block;
    animation: fadeOut 10s ease forwards;
}

div.chatbox-view>div>div.log.subtle-thin-scrollbar>div>p{
    text-shadow: 1px 0px 4px rgba(0,0,0,0.66);
}

.log>div>p:has(br) {
    display: none !important;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.chatbox-view-contents {
    flex-direction: column-reverse;
    pointer-events: none;
    background: transparent;
    height: 100vh;
    position: absolute;
    text-align: center;
    align-items: center;
    top: 30px;
    width: 100vw;
}

.showing-room-view > .bottom-section > .stats-view-container > .stats-view{
    display: none;
}

.showing-room-view > .bottom-section > .chatbox-view > div{
    top: 0px !important;
}

.chatbox-view-contents>.log {
    flex-direction: column;
}

.chatbox-view-contents>.drag {
    display: none;
}

.chatbox-view {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 0 !important;
    overflow-y: visible;
}

.log-contents {
    display: flex;
    flex-direction: column-reverse;
}

.stats-view {
    left: 50%;
    bottom: 0;
    background-color: transparent;
    text-shadow: 1px 1px 1px #000, 0px 1px 1px #000;
    padding: 8px;
    margin: 4px;
    line-height: 1.5em;
    position: absolute;
    text-align: center !important;
    text-transform: uppercase;
    opacity: 0.25;
    width: min-content;
    transform: translate(-50%, 0px);
    pointer-events: all;
    display: flex;
    flex-direction: column-reverse;
}

.graph{
    display: none;
}

.chatbox-view-contents>.autocompletebox {
    position: relative;

}

.game-state-view canvas{
    width: 100vw;
    height: 100vh;
    image-rendering: auto !important;
}
