/* HaxBall Mobile custom stylesheet */

body {
    background: #1a2125
}

[data-hook=leave-btn] {
    background: #c13535 !important;
}

[data-hook="tvideo-lowlatency"],
[data-hook="tvideo-teamcol"],
[data-hook="tvideo-showindicators"],
[data-hook="tvideo-showavatars"],
div:has(>[data-hook="fps"]),
div:has(>[data-hook="chatopacity-range"]),
div:has(>[data-hook="chatfocusheight-range"]),
div:has(>[data-hook="chatbgmode"]),
.roomlist-view>.dialog>.splitter>.buttons>.file-btn,
[data-hook="rec-btn"],
.sound-button-container,
.chatbox-view {
    display: none !important;
}

.game-view>[data-hook=popups] {
    background-color: #1a212585 !important;
}

h1 {
    border-bottom-color: #fec45b !important;
}

.game-view>.top-section {
    margin-top: 0;
}

.room-view {
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
}

.room-view>.container {
    margin-top: auto !important;
    margin-bottom: 0;
}

.room-view>.container>.header-btns {
    bottom: 0;
    top: auto;
    display: flex;
    flex-flow: row-reverse;
    left: 10px;
    right: auto;
}

[data-hook="leave-btn"] {
    background-color: #dd3333;
    margin-right: 6px;
}

[data-hook="stadium-pick"] {
    position: fixed !important;
    background: transparent !important;
    color: transparent !important;
    width: 300px;
    height: 20px;
}

[data-hook="stadium-name"] {
    text-decoration: underline;
}

.room-view>.container>.controls {
    display: flex;
    align-self: center;
    position: absolute;
    bottom: 0;
    right: 10px;
    top: auto;
    margin-bottom: 15px !important;
    z-index: 1;
    flex-flow: row-reverse;
}

.settings-view {
    width: 100%;
    height: 100%;
    max-height: unset;
    border-radius: 0;
}

.settings-view .tabcontents {
    width: 100%;
    text-align: -webkit-center;
}

.settings-view .section.selected {
    display: flex;
    width: max-content;
}

.choose-nickname-view {
    flex-direction: row-reverse;
}

.fade-out {
    opacity: 0;
    transition: opacity 10s ease-out
}

.game-view>.bottom-section {
    position: absolute;
    bottom: 0;
    left: 0
}

.room-view {
    margin-top: 0;
}

.room-view>.container {
    max-width: none;
    max-height: none;
    border-radius: 0;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
}

.roomlist-view>.dialog,
.view-wrapper>.dialog {
    max-width: calc(100vw - 2vw);
    max-height: calc(100vh - 2vw);
}

.showing-room-view>.gameplay-section {
    display: none;
}

[data-hook=ok] {
    text-transform: uppercase;
}

.filters::after {
    content: "\A\A © Vixel Dev 2024 - HaxBall Mobile for InjecThor";
    white-space: pre;
    font-style: italic;
}